/* add css for index.html */

.player-input {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    width: 550px;
    height: 175px;
    margin: 15px;
}

.outcome {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    border: solid 3px black;
    width: 550px;
    height: 175px;
    margin: 15px;
}

.box {
    border: solid 3px red;
}

.rps-image {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-display {
    margin-bottom: 20px;
}

.hidden {
    display: None;
}