/* add css for index.html */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.player-input {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    width: 550px;
    height: 175px;
    margin: 15px;
}

.outcome {
    font-family: 'Press Start 2P', cursive;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    border: solid 3px black;
    width: 550px;
    height: 175px;
    margin: 15px;
}

.rps-image {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-display {
    margin-bottom: 20px;
}

.hidden {
    display: None;
}